.git
.codegraph
.atl
.playwright-mcp
.secrets
**/.secrets
.env
**/.env

node_modules
**/node_modules

playwright-report
**/playwright-report
test-results
**/test-results

.next
**/.next
dist
**/dist
build
**/build
coverage
**/coverage
.cache
**/.cache
.turbo
**/.turbo
.vite
**/.vite
.parcel-cache
**/.parcel-cache
.docusaurus
**/.docusaurus

*.tsbuildinfo
*.log
npm-debug.log*
